# Lark
LARK_APP_ID=cli_a96eb75ba5e1de17
LARK_APP_SECRET=vTQbEsXwKMwoTcvsRg93agZww1nzMAQS
LARK_BASE_ID=DWpvwpxsViYlMskDFr6jrUccpug
LARK_UTENTI_TABLE_ID=tblmqpbrAbjKGW8n
LARK_PRENOTAZIONI_TABLE_ID=tblOgh7af4rT5IHY
LARK_ORDINI_TABLE_ID=tbllWx1VealRRlie
LARK_AUDITLOG_TABLE_ID=tblXXXXXX

# JWT
JWT_SECRET=your-secret-key-here
